pip install torch==1.13.0 torchvision==0.14.0 torchaudio==0.13.0 
pip install timm==0.4.12
pip install pytest chardet yacs termcolor
pip install submitit tensorboardX
pip install triton==2.0.0
pip install causal_conv1d==1.0.0  
pip install mamba_ssm==1.0.1  
 medpy yacs
pip install scikit-image==0.25.2
pip install scikit-learn==1.7.2
pip install matplotlib==3.10.7
pip install seaborn==0.13.2
pip install thop==0.1.1
pip install h5py==3.16.0
pip install SimpleITK==2.5.5
pip install medpy==0.5.2
pip install yacs==0.1.8